.skills-page {

    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}



.header h3 {
    font-size: 2rem;
}

.skills-category {
    margin-bottom: 30px;
    box-shadow: none;

}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  
}


.skill-card {
    background-color:rgb(30, 30, 30);
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width:14%;
    box-shadow: 0 0 10px whitesmoke;
 
}


.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

}


.skill-icon {
    width: 50px;
 
    height: auto;

}


.skill-name {
    display: block;
    margin-top: 10px;
    color:white;
  
}


@media (max-width: 768px) {
    .skill-card {
        width: 45%;
  
        margin: 10px auto;
    
    }
}

@media (max-width: 480px) {
    .skill-card {
        width: 70%;
    
        margin: 10px auto;

        padding: 15px;
      
    }

    .header h3 {
        font-size: 1.5rem;
    
    }
}